@import url(https://fonts.googleapis.com/css?family=Expletus+Sans:regular,500,600,700,italic,500italic,600italic,700italic&display=swap);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&display=swap);
@import url(https://fonts.googleapis.com/css?family=Caveat:regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Neucha:regular);
*,
*::before {
        margin: 0;
        padding: 0;
        border: none;
        box-sizing: border-box;
}
*::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
h1 {
    font-size: 1.8em;
    font-family: Neucha;
    color: rgba(230, 95, 158, 1);
    text-shadow: rgba(70, 0, 94, 1) 1px 0px 5px;
}
h2 {
    font-size: 2em;
    font-family: Neucha;
    color: black;
}
h3 {
    font-size: 2em;
    font-family: Neucha;
    color: rgba(230, 95, 158, 1);
    text-shadow: rgba(70, 0, 94, 1) 1px 0px 2px;
}
h4 {
    font-size: 1.2em;
    color: black;

}

html{
    height: 100%;
    min-width: 320px;
}
body {
    height: 100%;
    min-width: 320px;
    line-height: 1;
    font-family: Caveat;
    font-size: 24px;
    color:rgba(150, 143, 171, 1);

}
.liberta {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.main {
    flex: 1 1 auto;
}
[class*="__container"] {
    position: relative;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0px 15px;
    background-color: rgba(245, 245, 245, 1);
}
/* header
========================================================================== */
.header__container {
    display: flex;
    align-items: center;
    background-color: rgba(206, 197, 232, 1);
    margin: 20px auto;
}
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}
/* slider
========================================================================== */
    .slider {
        width:1000px;
        height: 186px;
        position: relative;
        
        overflow: hidden;
        margin: auto;
    }
    .slider-line {
        display: flex;
        transition: all 0s;
    }
    .img-slider {
        width:1000px;  
    }
    .slider-prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%)rotate(180deg);
        font-size: 50px;
        color: rgba(206, 197, 232, 1);
        border: 2px solid rgba(206, 197, 232, 1);
        border-radius: 15px;
        line-height: 1;
        background-color: transparent;
    }
    .slider-next {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 50px;
        color: rgba(206, 197, 232, 1);
        border: 2px solid rgba(206, 197, 232, 1);
        border-radius: 15px;
        line-height: 1;
        background-color: transparent;
    }
    .slider-next:hover {
        cursor: pointer;
        background-color: blueviolet;
    }
    .slider-prev:hover {
        cursor: pointer;
        background-color: blueviolet;
    }
/* main
========================================================================== */
.main {
    display: flex;
    align-items: flex-end;
    margin: auto;
}
    .story-image {
        position: absolute;
        z-index: 70;
        right: 0;
        top: 0;
    }
    .story__content {
        font-family:Caveat;
        display: flex;
        padding-top: 200px;
        padding-right: 60%;
        padding-bottom: 70px;
    }
    
/*=========================================================================*/
    .groups__container {
        padding-top: 20px;
        text-align: center;
       
    }
    .almma__elements{
        padding-top: 10px;
        padding-bottom: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    }
    .veresneve__elements {
        padding-top: 10px;
        padding-bottom: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        margin: auto;
    }
    .element {
        padding-bottom: 10px;
        padding-top: 10px;
        text-align: center;
        width: 360px;
        margin: auto;
    }    
    .img_element{
        padding: 5px 0;
        width: 250px;
    }
 /*=========================================================================*/
    .img_decor2 {
        position: absolute;
        right: -15px;
        bottom: 0px;
        z-index: 70;
    }
    .img_decor1 {
        position: absolute;
        left: -15px;
        bottom: 50px;
        z-index: 70;
    }
/*=========================================================================*/
.main__nav {
    text-align: center;
    font-size: 1em;
    justify-content: center;
    padding: 50px;
}
.nav__block {
    display: flex;
    justify-content: space-between;
}
.nav__alma {
    width: 500px;
    height: 300px;
   margin-top: 20px;
}
.nav__veresneve {
    width: 500px;
    height: 300px; 
    margin-top: 20px;
}
.nav__map {
    padding-top: 10px;
}
/*=========================================================================*/
    .footer__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(206, 197, 232, 1);
        margin: auto;
    }
    .footer__logo{
        align-items: center;
        display: flex;
    }
    .footer__network {
        display: flex;
        align-items: center;
    }
    .network__logo {
        padding-top: 10px;
        padding-left: 20px;
        padding-bottom: 10px;
    }
  
    .ending__container {
        font-size: 12px;
        text-align: center;
        background-color: rgb(190, 181, 215);
    }